.contact-info-container {
    display: flex;
    justify-content: center;
    gap: 2em; 
}

.contact-info-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}

.contact-icon {
    margin-bottom: 0.5em; 
}

@media (max-width: 768px) { 
    .contact-info-container {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .contact-info-item {
        text-align: left; 
        align-items: flex-start; 
    }
}
