.footer-section-ul{
    list-style: none;
    margin:0;
    padding: 0;
}

.footer-section {
    color: white;
}

.footer-section-ul li {
    margin-bottom: 1.5em;
}


.footer-section-ul a {
    text-decoration: none;
    color:white
}

.footer-contact-icons {
    display: flex;
    gap: 0.5em;
    align-items: center;
    color: white;
    margin-bottom: 1em;
}

.footer-section-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}




.footer-contact-social-icons {
    margin-bottom: 2em;
}

.footer-nav-icons {
    display: inline-flex;
    gap: 1em;
}
footer{
    padding: 5em 8em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: center;
    justify-content: center;
}

footer h2 {
    margin: 0;
}

@media (max-width: 500px) {
    footer{
        padding:1.5em 0;
        display: block;
        text-align: center;
    }  


    .footer-contact-social-icons {
    padding: 0 1em 3em 3em;
}
}