:root{
    font-family: 'Montserrat',sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    box-sizing: border-box;
}

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

h4 {
    margin: 1em;
    color:#374754
}

h2{
    color :#252B42;
}
